In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
df.drop(['RowNumber','CustomerId','Surname','Geography'],axis=1,inplace=True)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
from sklearn.preprocessing import OneHotEncoder,LabelEncoder,StandardScaler
le=LabelEncoder()
df['Gender']=le.fit_transform(df['Gender'])

In [6]:
dict(zip(le.classes_,  le.transform(le.classes_) ))

{'Female': 0, 'Male': 1}

In [8]:
from sklearn.model_selection import train_test_split
x=df.drop(['EstimatedSalary'],axis=1)
y=df['EstimatedSalary']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [9]:
scalar=StandardScaler()

In [10]:

x_train=scalar.fit_transform(x_train)
x_test=scalar.transform(x_test)

In [12]:

x_train=pd.DataFrame(x_train,columns=scalar.get_feature_names_out())
x_test=pd.DataFrame(x_test,columns=scalar.get_feature_names_out())
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((8000, 9), (2000, 9), (8000,), (2000,))

In [13]:
x_train.columns

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'Exited'],
      dtype='object')

In [14]:
# ann model for regression

In [15]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [16]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(x_train.shape[0] ,)),
    Dense(32,activation='relu'),
    Dense(1)
])

NameError: name 'De4nse' is not defined